
<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" #signUpStatus="ngForm" class="sign-up-form">

  <div class="form-group">
    <label for="firstName">Prénom</label>
    <input type="text" id="firstName" name="firstName" formControlName="firstName">
    @if (signUpForm.controls.firstName.errors && signUpForm.controls.firstName.touched ) {
      <div class="error-messages">
        @if (signUpForm.controls.firstName.errors['required']) {
          <span>Le champ prénom doit être renseigné</span>
        }
        @if (signUpForm.controls.firstName.errors['minlength']) {
          <span>Le nom doit comporter au moins 3 caractères.</span>
        }
      </div>
    }
  </div>

  <div class="form-group">

    <label for="lastName">Nom</label>
    <input type="text" id="lastName" name="lastName" formControlName="lastName">
    @if (signUpForm.controls.lastName.errors && signUpForm.controls.lastName.touched) {
      <div class="error-messages">
        @if (signUpForm.controls.lastName.errors['required']) {
          <span>Le champ nom doit être renseigné</span>
        }
        @if (signUpForm.get('lastName')?.errors?.['minlength']) {
          <span>Le nombre de charactère doit être au moins de 3</span>
        }
      </div>
    }
  </div>

  <div class="form-group">

    <label for="email">Email</label>
    <input type="email" id="email" name="email" formControlName="email">
    @if (signUpForm.controls.email.errors  && signUpForm.controls.email.touched) {
      <div class="error-messages">
        @if (signUpForm.controls.email.errors['required']) {
          <span>Le champ email doit être renseigné</span>
        }
        @if (signUpForm.controls.email.errors['email']) {
          <span>Le format de l'email n'est pas valide</span>
        }
        @if(signUpForm.controls.email.errors['extension'] && !signUpForm.controls.email.errors['email']  && !signUpForm.controls.email.errors['required'] ){
          <span>L'email {{signUpForm.controls.email.errors['extension'].value}} 
            doit se terminer par {{signUpForm.controls.email.errors['extension'].expected}}
          </span>
        }
      </div>
    }
  </div>

  <div formGroupName="passwords" class="form-group">
    <label for="password">Mot de passe</label>
    <input type="password" id="password" name="password" formControlName="password">
    @if (signUpForm.controls.passwords.invalid && signUpForm.controls.passwords.controls.password.touched) {
      <div class="error-messages">
          @if (signUpForm.get('passwords.password')?.errors?.['required']) {
            <span>Le mot de passe est requis.</span>
          }
          @if (signUpForm.get('passwords.password')?.errors?.['securePassword']) {
            <span>Le mot de passe doit contenir au moins 3 caractères, avec une majuscule, une minuscule, un chiffre, et un caractère spécial.</span>
          }
      </div>
    }
    <label for="confirmPassword">Confirmer votre mot de passe</label>
    <input type="password" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword">
    @if (signUpForm.controls.passwords.invalid && signUpForm.controls.passwords.controls.confirmPassword.dirty) {
      <div class="error-messages">
          @if (signUpForm.controls.passwords.errors?.['notEqual']) {
            <span>Les mots de passes ne correspondent pas</span>
          }
      </div>
    }
  </div>

  <div formGroupName="address" class="form-group">
    <label for="street">Rue </label>
    <input type="text" id="street" name="street" formControlName="street">
    @if (signUpForm.controls.address.controls.street.errors  && signUpForm.controls.address.controls.street.touched ) {
      <div class="error-messages">
        @if (signUpForm.get('address.street')?.errors?.['required']) {
          <span>La rue doit être renseignée</span>
        }
        @if (signUpForm.controls.address.controls.street.errors['minlength']) {
          <span>Le nombre de charactère doit être au moins de 3</span>
        }
      </div>
    }
    <label for="zipCode">code postal</label>
    <input type="number" id="zipCode" name="zipCode" formControlName="zipCode">
    <!-- @if (signUpForm.get('address.zipCode')?.errors && signUpForm.get('address.zipCode')?.touched) {
      <div class="error-messages">
        @if (signUpForm.get('address.zipCode')?.errors?.['required']) {
          <span>Le code postal doit être renseigné</span>
        }
      </div>
    } -->
    <label for="city">Ville</label>
    <input type="text" id="city" name="city" formControlName="city">
    @if (signUpForm.get('address.city')?.errors && signUpForm.get('address.city')?.touched) {
      <div class="error-messages">
        @if (signUpForm.get('address.city')?.errors?.['required']) {
          <span>La ville doit être renseignée</span>
        }
        @if (signUpForm.get('address.city')?.errors?.['minlength'] && signUpForm.get('address.city')?.dirty ) {
          <span>Le nombre de charactère doit être au moins de 3</span>
        }
      </div>
    }
  </div>

    <div formArrayName="emergencyContacts">
       <h2>A contacter en cas d'urgence</h2>
       <button type="button" (click)="addEmergencyContact()" class="add-contact">+ Ajouter un contact</button>
       @for (contact of contacts.controls; track $index) {
         <div [formGroupName]="$index">
           <label for="emergencyContactName-{{ $index }}">Nom :</label>
           <input id="emergencyContactName-{{ $index }}" type="text" formControlName="name">
           <label for="emergencyContactPhone-{{ $index }}">Téléphone :</label>
           <input id="emergencyContactPhone-{{ $index }}" type="text" formControlName="phone">
           <button type="button" (click)="removeEmergencyContact($index)" class="add-contact">Supprimer ce contact</button>
          </div>
        }
      </div>
      <button  class="submit-button" [disabled]="signUpStatus.invalid">Valider</button>

</form>
    

